<div class="container mt-5">
    <div class="row">
      <div class="col-lg-6 offset-lg-3">
        <div class="card">
          <div class="card-body text-center">
            <span class="titulo">{{ titulo | uppercase }}</span>
            <form class="mt-3" [formGroup]="compraForm" (ngSubmit)="comprobarId()">
              <div class = "mb-3">
                <input type="text" formControlName="id_usuario"  class="form-control form-control-lg" placeholder="id de usuario" >
                <div class="text-danger"
                *ngIf="compraForm.get('id_usuario')?.hasError('required') && compraForm.get('id_usuario')?.touched">
                <span>Campo <strong>obligatorio</strong></span>
                </div>
              </div>
              <div class="mb-3">
                <input type="text" formControlName="NombreCliente" class="form-control form-control-lg" placeholder="Nombre del Cliente">
                <div class="text-danger"
                  *ngIf="compraForm.get('NombreCliente')?.hasError('required') && compraForm.get('NombreCliente')?.touched">
                  <span>Campo <strong>obligatorio</strong></span>
                </div>
              </div>
              <div class="mb-3">
                <input type="text" formControlName="direccion" class="form-control form-control-lg" placeholder="Direccion del Cliente">
                <div class="text-danger"
                  *ngIf="compraForm.get('direccion')?.hasError('required') && compraForm.get('direccion')?.touched">
                  <span>Campo <strong>obligatorio</strong></span>
                </div>
              </div>
              <div class="mb-3">
                <button routerLink="/" class="btn btn-secondary btn-lg float-start">VOLVER</button>
                <button type="submit" [disabled]="compraForm.invalid" class="btn btn-success btn-lg float-end">ACEPTAR</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>